body {
    padding: 10px;
    margin: 0 auto;

    width: calc(600px - 20px);
    height: calc(800px - 20px);

    display: flex;
    justify-content: center;
    align-items: end;
    
    position: relative;
}

section {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.title-design {font-family: var(--title-font); margin: 0; font-size: 25px;}
.text-design {font-family: var(--text-font);}

.button {transition: all .3s; cursor: pointer;}
.button:active {transform: scale(.9);}
