/* =============================================================================== */
/* Search */
.search-frame {
    width: calc(100% - 30px);
    height: fit-content;

    padding: 15px;
    padding-bottom: 70px;
    border: 1px solid var(--dark-white);
    border-radius: 20px;

    position: relative;
}
.search-frame h1 {
    width: 100%;
    text-align: center;

    position: absolute;
    top: -40px;
    left: 0;

}
.search-frame textarea {
    background:none;
    color: black;
    width: 100%;
    max-height: 300px;

    border: none;
    outline: none;
    resize: none;
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
    font-size: 20px;
}
.search-frame .other-buttons {
    width: calc(100% - 20px);
    height: 35px;
    
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    padding: 10px;

    position: absolute;
    left: 0;
    bottom: 0;
}
.search-frame .other-buttons .upload-file-button {
    background: none;
    background: url("../image/icon/attach-file.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;

    height: 40px;
    width: 40px;
    padding: 10px;

    border: 1px solid var(--dark-white);
    border-radius: 100px;

}
.search-frame .other-buttons .display-all-files {
    background: none;
    background: url("../image/icon/file.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;

    height: 40px;
    width: 40px;
    padding: 10px;

    border: 1px solid var(--dark-white);
    border-radius: 100px;

}
.search-frame .other-buttons .send-button {
    background-color: var(--dark-gray) !important;
    background: url("../image/icon/send.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;

    height: 40px;
    width: 40px;

    border: none;
    border-radius: 100px;
    margin-left: auto;
}
.search-frame .rank {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}
.search-frame .rank label {
    background: none;

    height: 35px;
    width: fit-content;
    padding: 10px 20px;

    border: 1px solid var(--dark-white);
    border-radius: 100px;

    margin-right: 5px;
}

/* =============================================================================== */
/* Upload files */
.drop-file-frame {
    width: fit-content;
    height: fit-content;

    margin-bottom: 50px;
    border: 1px dashed var(--dark-white);
    border-radius: 20px;

    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;
    position: relative;


}
.drop-file-frame .drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.drop-file-frame label {
    background: none;

    width: fit-content;
    padding: 5px 10px;

    font-family: var(--text-font);

    border: 1px solid var(--dark-white);
    border-radius: 100px;

    margin-right: 5px;
}
.drop-file-frame img {height: 50px;}
.drop-file-frame .drop-zone p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.drop-file-frame .drop-zone p:nth-child(2) {
    font-size: 15px;
    opacity: .5;
    margin: 0;
}
.drop-file-frame .drop-zone input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;

}

/* =============================================================================== */
/* Display all resoults */
#results {
    height: fit-content;
    max-height: 580px;
    width: 100%;

    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}
#results .result-block {
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    padding: 10px;
    margin-top: 20px;
    transition: all .3s;
}
#results .result-block:hover {background-color: var(--dark-white);}
#results .result-block .file {
    font-family: var(--title-font);
    margin: 0; 
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}
#results .result-block .file label:nth-child(1) {
    font-weight: bold;
}
#results .result-block .file label:nth-child(2) {
    opacity: .5;
    font-size: 15px;
    padding-left: 33px;
}
#results .result-block .columns {
    width: calc(100% - 31.5px);
    font-family: var(--text-font);
    padding-left: 33px;
}

/* =============================================================================== */
/* Other */
.reload-button {
    background: url("../image/icon/rotate-right.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;

    height: 40px;
    width: fit-content;

    padding: 10px;
    padding-left: 40px;

    border: 1px solid var(--dark-white);
    border-radius: 100px;
    margin-left: auto;

    position: absolute;
    top: 15px;
    right: 0;
    
    cursor: pointer;
    z-index: 10000000;

    transition: all .3s;
}
.reload-button:active {transform: scale(.9);}